@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
  --clr-blue-main: #2873b3;
  --clr-yellow-main: #f8d420dd;
  --clr-red-main: #f03d43dd;
  --clr-green-main: #2cb625dd;
  --clr-blue-light: #22a9fc;
}

/*
red:rgba(240, 61, 66, 1)
*/
@theme {
  --color-red-main-100: #f03d43dd;
  --color-red-main-300: #cd0e2b;
  --color-red-main-500: #aa0014;
  --color-red-main-700: #880000;
  --color-red-main-900: #680000;
  --color-green-main: var(--clr-green-main);
  --color-yellow-main: var(--clr-yellow-main);
  --color-blue-main: var(--clr-blue-main);
  --color-blue-light: var(--clr-blue-light);
  --font-roboto: "Roboto", sans-serif;
  --font-pixel: "Pixelify Sans", sans-serif;

  --animate-slide-to-left: slideRightToLeft 3s ease-in;
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(full);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.pokedex-header {
  background-color: var(--clr-yellow-main);
  clip-path: polygon(0 0, 0 100%, 40% 100%, 45% 70%, 100% 70%, 100% 0%);
}
.hint-text {
  opacity: 1;
  animation: revealText 0.5s ease-in-out;
}
.hidden-hint-text {
  opacity: 0;
}

/* .pokedex-body {
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% 0.5%,
    46% 0.5%,
    41% 4%,
    0 4%,
    0 100%
  );
} */

.start-button {
  border: 2px solid white;
  background-color: #f25545;
  color: white;
}

.start-button:hover {
  background-color: var(--clr-green-main);
  color: white;
  border: 2px solid var(--clr-green-main);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.start-screen {
  position: relative;
}
.start-screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.vectorstock.com/i/500p/69/24/pokemon-go-pokeball-seamless-pattern-vector-23236924.jpg");
  background-size: contain;
  background-position: center;
  z-index: -1;
  opacity: 0.05;
}

.game-over-screen:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}
@keyframes revealText {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
